.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height:500px;
}

.Left{
flex:25%;
background-color: blueviolet;
display: flex;
flex-direction: column;
}
.Header{
    flex:0.1;
}
.Content{
    flex:1;
}
.Footer{
    flex:0.1;
}

.Right{
    background-color: brown;
flex:75%;
display: flex;
flex-direction: column;
}
.AboutMe{
flex:1;
}

.Services{
flex:1;
}

.WorkExperience{
flex:3;
}
.Testimonials{
flex:1;
}

.Skills{
   flex:2;
}
.Portfolio{
    flex:0.2;
}
.All{
    flex:0.2;
}
.Pro{
    flex:2;
}
.Blog{
    flex:0.1;
}
.test{
    flex:2;
}